<app-navigation></app-navigation>
<main class="col d-flex justify-content-center mt-2">
  <div class="card" style="width: 30rem">
    <form class="custom-btn-width" [formGroup]="addDepartmentForm">
      <div class="form-group">
        <label for="exampleInputEmail1" class="font-weight-bold"
          >Department Name</label
        >
        <input
          [class.is-invalid]="
            addDepartmentForm.get('departmentName')?.invalid &&
            addDepartmentForm.get('departmentName')?.touched
          "
          type="text"
          class="form-control"
          placeholder="Enter Department Name"
          [formControlName]="'departmentName'"
        />
        <small
          *ngIf="
            addDepartmentForm.get('departmentName')?.hasError('required') &&
            addDepartmentForm.get('departmentName')?.touched
          "
          class="text-danger"
          >Department Name is empty</small
        >
      </div>
    </form>
    <button
      type="submit"
      [disabled]="!addDepartmentForm.valid"
      [ngClass]="{ 'cursor-not-allowed ': !addDepartmentForm.valid }"
      class="btn btn-primary btn-lg btn-block custom-btn-width"
      (click)="addDepartment()"
    >
      Add Department
    </button>
  </div>
</main>
