<app-navigation></app-navigation>
<main>
  <form class="custom-btn-width" [formGroup]="addDepartmentForm">
    <div class="form-group">
      <label for="exampleInputEmail1">Name</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter email"
        [formControlName]="'departmentName'"
      />
    </div>
  </form>
  <button
    type="submit"
    class="btn btn-primary btn-lg btn-block custom-btn-width"
    (click)="addDepartment()"
  >
    Add Department
  </button>
</main>
