<app-student></app-student>
<main>
  <form class="custom-btn-width" [formGroup]="addStudentForm">
    <div class="form-group">
      <label for="exampleInputEmail1">Name</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter email"
        [(ngModel)]="studentName"
        [formControlName]="'studentName'"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Course</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter email"
        [(ngModel)]="studentCourse"
        [formControlName]="'studentCourse'"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Specialization</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter email"
        [(ngModel)]="studentSpecialization"
        [formControlName]="'studentSpecialization'"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Percentage</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter email"
        [(ngModel)]="percentage"
        [formControlName]="'percentage'"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">DepartmentID</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter email"
        [(ngModel)]="departmentId"
        [formControlName]="'departmentId'"
      />
    </div>
  </form>
  <button
    type="submit"
    class="btn btn-primary btn-lg btn-block custom-btn-width"
    (click)="addStudent()"
  >
    Add Student
  </button>
</main>
